<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dailybrief</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>cd "$HOME/me/open-source-projects/Daily-Brief" &amp;&amp; "$HOME/.local/bin/uv" run python -m the_daily_brief.main</string>
    </array>

    <key>StartOnMount</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/soroqn/.the-daily-brief/logs/launchd.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/soroqn/.the-daily-brief/logs/launchd.stderr.log</string>
</dict>
</plist>
